<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="./lib/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/home.css"/>
	</head>

	<body style="background: #666;">
		<div class="noteWrapper" style="margin: 50px auto;">
			<div class="col-md-7 noteLC">
				<div class="col-sm-12">
					<a href="javascript:;" class="btn noteLike"><i class="glyphicon glyphicon-heart"></i>&nbsp;&nbsp;喜欢&nbsp;&nbsp;<i>223</i></a>
					<a href="javascript:;" class="btn noteLike"><i class="glyphicon glyphicon-heart"></i></a>
					<a href="javascript:;" class="btn noteLike pull-right"><i class="glyphicon glyphicon-heart"></i></a>
					<div class="clearfix"></div>
				</div>
				<div class="col-sm-12 noteBac mt15 tc">
					<img src="../../c_images/ada-loading.gif"/>
					<img src="../../c_images/ESWFW066LoginBac.png"/>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-4 noteLC p15">
				<div class="col-sm-12 noteBac p10">
					<div class="col-sm-2">
						<img class="img-circle" src="../../c_images/about.png" width="45" height="45" />
					</div>
					<div class="col-sm-10 pl10">
						<div class="fs14 dark-gray bold">王明辉</div>
						<div class="fs12 light-grey mt5">2016-3-25&nbsp;&nbsp;01:10</div>
					</div>
					<div class="col-sm-12 mt20">
						<h4 class="fs16 bold">多肉植物的搭配艺术</h4>
						<div class="mt10 noteDescrible break">
							多肉植物的搭配艺术多肉植物的搭asdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjkl
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-sm-12 whiteBac">
					<h4 class="fs14 bold"><span>21</span>人喜欢这个分享</h4>
					<div class="notePraise">
						<ul>
							<li><img src="../../c_images/bian.png" /></li>
							<li><img src="../../c_images/bian.png" /></li>
							<li><img src="../../c_images/bian.png" /></li>
							<li><img src="../../c_images/bian.png" /></li>
							<li><img src="../../c_images/bian.png" /></li>
							<li><img src="../../c_images/bian.png" /></li>
							<li><img src="../../c_images/bian.png" /></li>
							<li><img src="../../c_images/bian.png" /></li>
							<li><img src="../../c_images/bian.png" /></li>
							<li><img src="../../c_images/bian.png" /></li>
							<li><img src="../../c_images/bian.png" /></li>
							<li><img src="../../c_images/bian.png" /></li>
							<li><img src="../../c_images/bian.png" /></li>
							<li><img src="../../c_images/bian.png" /></li>
							<li><img src="../../c_images/bian.png" /></li>
							<li><img src="../../c_images/bian.png" /></li>
							<li><img src="../../c_images/bian.png" /></li>
							<li><img src="../../c_images/bian.png" /></li>
							<li><img src="../../c_images/bian.png" /></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 whiteBac commentDeta">
					<ul>
						<li>
							<div class="col-sm-2">
								<img class="img-circle" src="../../c_images/file.png" width="40" height="40" />
							</div>
							<div class="col-sm-10 pl10">
								<div class="fs14 dark-gray bold">
									<div class="col-sm-11">
										别把蘑菇惹恼了
									</div>
									<div class="col-sm-1 tr">
										<a href="javascript:;"><img src="../../c_images/icon_dele.png" width="15" /></a>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="fs12 light-grey mt5">2016-3-25&nbsp;&nbsp;01:10</div>
							</div>
							<div class="col-sm-10 mt10 col-sm-offset-2 pl10">
								<div class="noteDescrible break">
									可爱哦~
								</div>
							</div>
							<div class="clearfix"></div>
						</li>
						<li>
							<div class="col-sm-2">
								<img class="img-circle" src="../../c_images/about-me-tips.png" width="40" height="40" />
							</div>
							<div class="col-sm-10 pl10">
								<div class="fs14 dark-gray bold">
									<div class="col-sm-11">
										呜啦啦啦啦啦啦啦啦啦啦啦啦啦呜啦啦啦啦啦啦啦啦啦啦啦啦啦
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="fs12 light-grey mt5">2016-3-25&nbsp;&nbsp;01:10</div>
							</div>
							<div class="col-sm-10 mt10 col-sm-offset-2 pl10">
								<div class="noteDescrible break">
									多肉植物的搭配艺术多肉植物的搭asdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjkl
								</div>
							</div>
							<div class="clearfix"></div>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-2">
						<img class="img-circle" src="../../c_images/about.png" width="40" height="40" />
					</div>
					<div class="col-sm-8">
						<textarea class="comContainer" name="" rows="1" cols="" placeholder="添加评论"></textarea>
					</div>
					<div class="col-sm-2">
						<a href="javascript:;" class="doComment">评论</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</body>

</html>