.light-blue {
  color: #009bff;
}

.fontColor {
  color: #616a73;
}

.fullWidth {
  width: 100%;
}

.ESWFW066Logo {
  padding: 30px 0 0 50px;
  cursor: pointer;
}

.ESWFW066Footer {
  width: 100%;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
  bottom: 10px;
}

.ESWFW066Footer img {
  max-width: 100%;
}

.ESWFW066Left {
  width: 55%;
  height: 100%;
  float: left;
  height: 1000px;
  position: relative;
}

.ESWFW066Left .ESWFW066LeftBac {
  width: 100%;
  color: #fff;
  transform: translateY(50%);
}

.ESWFW066Right {
  width: 45%;
  min-width: 460px;
  background: #fff;
  float: right;
  font-size: 12px;
  height: 100%;
}

.ESWFW066Right h3 {
  color: #09a4a0;
  font-size: 30px;
  text-align: center;
  margin-top: 60px;
  font-weight: 500;
}

.ESWFW066Right .ESWFW002RegisterBtn {
  color: #00706b;
  display: block;
  font-size: 12px;
}

.ESWFW066Right .ESWFW066BottomLine {
  border-bottom: 1px solid #dadada;
}

.ESWFW066Right .ESWFW066Form {
  border: none;
  background: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 10px 0;
}

.ESWFW066Right .ESWFW066GetCode {
  display: block;
  width: 80%;
  color: #333;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin-left: 10%;
  margin-top: 5px;
  border-left: 1px solid #dadada;
}

.ESWFW066Right .ESWFW003Code img {
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

.ESWFW066Right .ESWFW066Submit {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 14px;
  border: none;
}

.ESWFW066Right .ESWFW066Submit:hover {
  transition: all 0.5s;
  background: #098b87;
}

.login_box {
  width: 50%;
  margin: 0 auto;
}

.ESWFW066Back {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../../../static/images/ESWFW066Back.png") no-repeat;
}

.ESWFW066Back:hover {
  transition: all 0.5s;
  background: url("../../../static/images/ESWFW066BackFocus.png") no-repeat;
}

.COMMENT_MODAL {
  width: 400px;
  padding: 0 15px;
  position: relative;
  float: right;
  border-left: 1px solid #ededed;
  top: 0;
  background: #fff;
}

.COMMENT_MODAL h1 {
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #657279;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #ededed;
}

.COMMENT_MODAL h1 span {
  cursor: pointer;
}

.COMMENT_MODAL h1 a {
  color: #657279;
}

.itemInfo {
  margin-top: 10px;
  font-size: 12px;
  padding: 15px;
  border-bottom: 1px solid #ededed;
  cursor: pointer;
}

.itemInfo .do_del {
  display: none;
}

.itemInfo:hover, .itemSelect {
  border-radius: 3px;
  background: #f0f0f0;
}

.itemInfo:hover .do_del, .itemSelect .do_del {
  display: block;
}

.itemborder {
  border: 2px solid #e8e8e8;
  border-radius: 5px;
}

.big_header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.header_up {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  display: none;
}

.header_up i {
  top: 50%;
  transform: translateY(-50%);
}

.big_header:hover .header_up, .header_card:hover .header_up {
  transition: all 0.5s;
  display: block;
}

.icon_basic {
  display: inline-block;
  /*background: url("../images/icon.png") no-repeat;*/
  vertical-align: middle;
}

.m_box {
  width: 25px;
  height: 25px;
}

.md_box {
  width: 18px;
  height: 18px;
}

.mm_box {
  width: 50px;
  height: 60px;
}

.s_box {
  width: 36px;
  height: 47px;
}

.xs_box {
  width: 16px;
  height: 16px;
}

.line_circle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.circle_style {
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
}

.iconfont {
  display: inline-block;
}

.green {
  background: #64c96a;
}

.grey {
  background: #8d959b;
}

.doc_color {
  color: #4585ed;
}

.xls_color {
  color: #3b9455;
}

.ppt_color {
  color: #ec3c14;
}

.txt_color {
  color: #6d86bf;
}

.pdf_color {
  color: #eb281d;
}

.music_color {
  color: #e052e5;
}

.vidio_color {
  color: #efc647;
}

.pic_color {
  color: #f186be;
}

.zip_color {
  color: #6ccefb;
}

.star_color {
  color: #fec913;
}

.x_color {
  color: #cdcdcd;
}

.btn-cancle {
  background: #ededed;
  color: #72787d;
  width: 80px;
}

.btn-cancle:hover {
  background: #bebebe;
  color: #72787d;
}

.btn-sure {
  background: #37a8ed;
  color: #fff;
  width: 80px;
  border: 1px solid #249ce5;
}

.btn-sure:hover, .btn-sure:focus {
  background: #2c86be;
  color: #fff;
  border: 1px solid #1d7db7;
}

.hoverBasic:hover {
  background: #ededed;
}

.miuxRoot {
  width: 100%;
  height: 100%;
  position: absolute;
}

.ESWFW001LoginContainer {
  width: 500px;
  margin: 0 auto;
  position: relative;
  color: #fff;
  text-align: center;
}

.ESWFW001LoginContainer input {
  border-radius: 3px;
}

.ESWFW001LoginContainer .registerBox {
  width: 70%;
  margin: 0 auto;
}

.ESWFW001LoginContainer .registerBox .form-control {
  height: 45px;
}

.ESWFW001LoginContainer .code_edit {
  border-radius: 3px 0 0 3px;
  border-right: 0;
}

.ESWFW001LoginContainer .ESWFW001Code {
  background: #fff;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  height: 35px;
  border-left: 1px solid #c9caca;
}

.ESWFW001LoginContainer .ESWFW001Code img {
  max-width: 100%;
  height: 45px;
}

.ESWFW001LoginContainer a {
  color: #fff;
}

.ESWFW001LoginContainer a:hover, .ESWFW001LoginContainer a:focus {
  color: #00a59e;
}

.ESWFW001LoginContainer .ESWFW001Submit {
  width: 100%;
  height: 40px;
  border: none;
  color: #fff;
}

.ESWFW001LoginContainer .ESWFW001Submit:hover, .ESWFW001LoginContainer .ESWFW001Submit:focus {
  background: #008f89;
}


/*layer*/

.layui-layer-btn {
  font-size: 12px;
}

.rightLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
}


/*# sourceMappingURL=login.css.map */
